<nav>
 <div class="site-title">
   <a href="/"><h1>Best Bank</h1></a>
   <p>Best Bank Site</p>
 </div>
 <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/bank/allusers">Users</a></li>
   <li><a href="/bank/accounts">Accounts</a></li>
   <li><a href="/bank/createuser">New User</a></li>
   <li><a href="/bank/createaccount">New Account</a></li>
 </ul>
</nav>